@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --primary: #ffffff;
  --primary-focus: #145369;
}

body {
  font-family: "Poppins" sans-serif;
}
/*********************** NAVMENU ************************** */
.logo {
  width: 16.25rem;
}

nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary) !important;
}
.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  /* height: 6rem !important; */
}
.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
  background-color:  var(--primary-focus);
  border-radius: .1875rem;
  font-weight: 700;
}
