@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --primary: #ffffff;
  --primary-focus: #145369;
}

body {
  font-family: "Poppins" sans-serif;
}
/*********************** NAVMENU ************************** */
.logo {
  width: 16.25rem;
}

nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary) !important;
}
.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  /* height: 6rem !important; */
}
.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
  background-color:  var(--primary-focus);
  border-radius: .1875rem;
  font-weight: 700;
}

/******************* HEADER ***********************/
.profText{
  margin: auto !important;
}
.profImage img{
  width: 38.75rem;
  height: 38.75rem;
  background-color: rgb(71, 71, 71);
  border-radius: 50%;
  margin-top: 4rem;
}

h1{
  font-size: 3.75rem;
  margin: 0.625rem 0;
}
h2{
  font-size: 2.1875rem;
}
h3{
  font-size: 1.875rem;
}
span{
  font-size: inherit;
  color: crimson;
}
.ityped-cursor{
  animation: blink 1s infinite;
}

@keyframes blink {
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}


